<a href="https://colab.research.google.com/github/kframbroUmich/CSC302/blob/main/kframbro_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd #Load Pandas
olympicMedals=pd.read_csv('/content/drive/MyDrive/DATA/olympic_medals.csv')

#2.A print the size of the dataframe (number of columns and rows)
print('Number of Rows ',olympicMedals.shape[0])
print('Number of Columns ', olympicMedals.shape[1],end='\n\n')
#2.B. print the datatype for all columns
print('Data Columns')
print(olympicMedals.info(),end='\n\n')
#2.C. print unique cities that have won medals
print('Unique Cities', olympicMedals['Location'].unique(),end='\n\n')
#2.D. How many medals has Team USA won
print('Number of Medals won by USA',len(olympicMedals[olympicMedals['Nationality']=='USA']),end='\n\n')
#2.E. print total number of medla per nationality
print("Medals won by Nationality")
with pd.option_context('display.max_rows', None):
    print(olympicMedals.groupby(by='Nationality')['Medal'].count().to_markdown)

Number of Rows  2394
Number of Columns  8

Data Columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2394 entries, 0 to 2393
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gender       2394 non-null   object
 1   Event        2394 non-null   object
 2   Location     2394 non-null   object
 3   Year         2394 non-null   int64
 4   Medal        2394 non-null   object
 5   Name         2164 non-null   object
 6   Nationality  2394 non-null   object
 7   Result       2394 non-null   object
dtypes: int64(1), object(7)
memory usage: 149.8+ KB
None

Unique Cities ['Rio' 'Beijing' 'Sydney' 'Barcelona' 'Los Angeles' 'Montreal' 'Mexico'
 'Rome' 'Helsinki' 'Berlin' 'Amsterdam' 'Antwerp' 'London' 'Athens'
 'Atlanta' 'Moscow' 'Munich' 'Tokyo' 'Melbourne / Stockholm' 'Paris'
 'Stockholm' 'St Louis' 'Seoul']

Number of Medals won by USA 638

Medals won by Nationality
<bound method Series.to_markdown of Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
BAR      1
BDI      2
BEL     12
BLR     14
BOT      1
BRA     10
BRN      3
BUL     12
BWI      2
CAN     53
CHI      1
CHN     23
CIV      1
CMR      2
COL      3
CRO      5
CUB     40
CZE     12
DEN      6
DJI      1
DOM      3
ECU      2
ERI      1
ESP     14
EST      6
ETH     53
EUA     26
EUN     18
FIN     74
FRA     60
FRG     28
GBR    161
GDR     76
GER     74
GRE     23
GRN      2
GUA      1
HAI      1
HUN     30
IND      1
IRI      1
IRL      6
ISL      1
ITA     46
JAM     74
JPN     20
KAZ      4
KEN     87
KOR      2
KSA      1
LAT      5
LTU      5
LUX      1
MAR     17
MEX     11
MOZ      2
NAM      4
NED     14
NGR     13
NOR     15
NZL     24
PAN      3
PHI      2
POL     52
POR     10
PUR      1
QAT      3
ROU     29
RSA     26
RUS     62
SLO      4
SRB      1
SRI      2
SUD      1
SUI      5
SVK      1
SWE     53
SYR      1
TAN      2
TCH     18
TJK      1
TPE      1
TTO     15
TUN      5
TUR      5
UGA      3
UKR     18
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, dtype: int64>